@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  background: url(photo-1530631383307-4a02169e6133.jpg);
  background-size: cover;
  background-position:center;
}

.wrapper {
  background: rgba(255, 255, 255, 0.062);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.253);
  width: 350px;
  padding: 40px 30px;
  color: #fff;
  text-align: center;
}

.wrapper h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.input-box {
  position: relative;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;
  padding: 12px 45px 12px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1em;
}

.input-box i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1.2em;
}

.input-box input:not(:placeholder-shown) {
  color: #000;
}

.remember-forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #fff;
}

.remember-forgot label {
  display: flex;
  align-items: center;
}

.remember-forgot input {
  margin-right: 5px;
  width: 14px;
  height: 14px;
}

.remember-forgot a {
  color: #96b0f8;
  text-decoration: none;
  font-weight: 500;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  padding: 12px 0;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #074595;
  font-size: 1em;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 500;
}
.btn:hover {
  background: #eeeeee96;
}

.remember-link {
  margin-top: 20px;
}
.remember-link p {
  font-size: 0.9em;
  color: #ffffff;
}
.remember-link a {
  color: #96b0f8;
  text-decoration: none;
  font-weight: 500;
  margin-left: 5px;
}
.remember-link a:hover {
  text-decoration: underline;
}
