{% extends "base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
<div class="create-page">
  <div class="form-container">
    <h1>Create a New Post</h1>
    <form method="POST" action="{{ url_for('blog.create') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.title.label }}<br>
        {{ form.title(size=40) }}
      </div>
      <div class="form-group">
        {{ form.content.label }}<br>
        {{ form.content(rows=5, cols=50) }}
      </div>
      <div class="form-group">
        {{ form.submit() }}
      </div>
    </form>
  </div>
</div>
{% endblock %}

