{% extends "base.html" %}

{% block title %}Explore - Webserver{% endblock %}
{% block content %}

  <div class="posts-container">
      <div class="posts-section">
        {% for post in posts %}
            <div class="post-card">
                <div class="post-title">{{ post.title }}</div>
                <div class="post-date">created on: {{ post.created_on }}</div>
                <div class="post-body">{{ post.body }}</div>
                <div class="post-author">Author: {{ post.author }}</div>
            </div>
        {% endfor %}
      </div>
  </div>
{% endblock %}