<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webserver Register</title>
  <link rel="stylesheet" href="../static/style2.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

  <div class="wrapper">
    <form action="" method="post" novalidate>
      {{ form.hidden_tag() }}
      <h1>Register</h1>

      <div class="input-box">
        {{ form.username(class="input-field", placeholder="Username") }}
        <i class='bx bxs-user'></i>
        {% for error in form.username.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      <div class="input-box">
        {{ form.password(class="input-field", placeholder="Password") }}
        <i class='bx bxs-lock-alt'></i>
        {% for error in form.password.errors %}
          <span style="color: red;">{{ error }}</span>
        {% endfor %}
      </div>

      {{ form.submit(class="btn") }}

      <div class="remember-link">
        <p>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></p>
      </div>
    </form>
  </div>

</body>
</html>